* {
    margin: 0;
    padding: 0 ;
    border: 0;
}

body {
    background-color:#1f345b;
   font-family: roboto, Arial, Helvetica, sans-serif;
   font-weight: 100;
   color:#e8eaee;
}

   h1 h2 h3 {
    font-family:poppins;
    color:#ffa733;
}

/* logo and nav */
 

#logo {
    float: left;
    color: #ffa733;
    font-size: 280%;
    letter-spacing: 2px;
    margin-left: 30px;
    font-family: poppins, roboto, Arial, sans-serif;

}

#menu {
    font-size: 150%;
    color: #e8eaee;
    letter-spacing: 5px;
    font-family: poppins, roboto, Arial, sans-serif;
 
}

#menu, #logo {
    line-height: 75px;
    overflow:hidden;
    
}

#menu li {
    float: right;
  list-style-type: none;
  margin-right: 40px ;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: 151%;
    color: #ffa733;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    

    position: relative;
}

#cover-text, #cover-text h2 {
    font-size: 160%;
    text-shadow: black 1px 2px;
    
    
    
   
}

#hero-image {
    height: 600px;
    width: 100%;
  background:url(../images/sam-moghadam-khamseh-0wFVLpANoYc-unsplash\ 900\ height.jpg) no-repeat;
}



#cover-text {
    text-align: center;
    vertical-align: middle;
    background-color:rgba(31, 52, 91, 0.8);
    width: 600px;
    height: 80px;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 30px;

    bottom: 25%;
    right: 28%;
    
    

    position: absolute;
    
}

/* Our instruments section */

#instruments, #instruments h1 {
    text-align: center;
    color: #ffa733;
    font-family: poppins, roboto, Arial, sans-serif;
    font-size: 160%;
    padding-top: 10px;
    padding-bottom: 20px;
}

#guitar-image {
    background:url(../images/caio-silva-C7RFkKvThG4-unsplash\ 300.jpg);
    width: 25%;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
    float: left;
   border: 2px solid #e8eaee;
   box-sizing: border-box;
}

#piano-image {
    background:url(../images/dolo-iglesias-FjElUqGfbAw-unsplash\ 300.jpg);
    width: 25%;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
    float: left;
    border: 2px solid #e8eaee;
    box-sizing: border-box;
}

#sing-image {
    background:url(../images/corey-young-1cNpSv61ZDo-unsplash\ 300.jpg);
    width: 25%;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
    float: left;
    border: 2px solid #e8eaee;
    box-sizing: border-box;
}

#drum-image {
    background:url(../images/puk-khantho-4E0Y320X1BU-unsplash\ 300.jpg);
    width: 25%;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
    float: left;
    border: 2px solid #e8eaee;
    box-sizing: border-box;
    
}

#instruments h2 {
    color: #e8eaee;
    padding-top: 30%;
    font-size: 180%;
    text-shadow: #1f345b 2px 2px ;
    opacity: 1;
}


    

