* {
    margin: 0;
    padding: 0 ;
    border: 0;
}
body {
    background-color:#1f345b;
   font-family: roboto, Arial, Helvetica, sans-serif;
   font-weight: 100;
   color:#e8eaee;
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
   h1 h2 h3 {
    font-family:poppins;
    color:#ffa733;
}

/* logo and nav */

header {
    background-color: rgba(25, 153, 179, 0.9);
}
#logo {
    float: left;
    color: #ffa733;
    font-size: 280%;
    letter-spacing: 2px;
    margin-left: 5%;
    font-family: poppins, roboto, Arial, sans-serif;
}



#menu {
    font-size: 150%;
    color: #e8eaee;
    letter-spacing: 5px;
    font-family: poppins, roboto, Arial, sans-serif;
    float: right;
    
}
#menu, #logo {
    line-height: 75px;   
    overflow: hidden;
   
}
#menu li {
    float: left;
  list-style-type: none;
  margin-right: 40px ;
 direction: rtl;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    font-size: 151%;
    color: #ffa733;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#cover-text, #cover-text h2 {
    font-size: 160%;
    text-shadow: black 1px 2px;  
}
#hero-image {
    height: 600px;
    width: 100%;
  background:url(../images/sam-moghadam-khamseh-0wFVLpANoYc-unsplash\ 900\ height.jpg) no-repeat center center;
}
#cover-text {
    text-align: center;
    vertical-align: middle;
    background-color:rgba(31, 52, 91, 0.8);
    width: 50%;
    height: 15%;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    bottom: 50%;
   left: 25%;
   right: 25%;
    position:absolute;
}

/* Our instruments section */
.instruments, .instruments h1 {
    text-align: center;
    color: #ffa733;
    font-family: poppins, roboto, Arial, sans-serif;
    font-size: 160%;
    padding-top: 10px;
    padding-bottom: 50px; 
}
.instruments div {
    text-align: center;
    display: inline-block;
    padding: 60px;
    margin: 5px;  
}
#guitar-image {
    background:url(../images/caio-silva-C7RFkKvThG4-unsplash\ 300.jpg) no-repeat ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
    
   border: 2px solid #e8eaee;
   box-sizing: border-box; 
}
#piano-image {
    background:url(../images/dolo-iglesias-FjElUqGfbAw-unsplash\ 300.jpg) no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
    
    border: 2px solid #e8eaee;
    box-sizing: border-box;
    padding-bottom: 50px;
   
    
}
#sing-image {
    background:url(../images/corey-young-1cNpSv61ZDo-unsplash\ 300.jpg) no-repeat ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
  
    border: 2px solid #e8eaee;
    box-sizing: border-box;
}
#drum-image {
    background:url(../images/puk-khantho-4E0Y320X1BU-unsplash\ 300.jpg) no-repeat ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.7;
   
    border: 2px solid #e8eaee;
    box-sizing: border-box;  
}

/* Why us page */
 #why-us, #why-us h1 {
    text-align: center;
    color: #ffa733;
    font-family: poppins, roboto, Arial, sans-serif;
    font-size: 160%;
    padding-top: 10px;
    padding-bottom: 40px;
    
}

#why-us {
    margin-bottom: 250px;
}
#why-us h2{
    color: #e8eaee;
    font-size: 90%;
}
#why-us p {
    color: #e8eaee;
    font-size: 70%;
}
#why-us div {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}
    
hr {
    border: 1px solid #ffa733;
}
#why-us > div li {
    color: #e8eaee;
    font-size: 70%;
    list-style:inside;
}

/*footer*/
footer {
    height: 140px;
    width: 100%;
    bottom: 0;
    background: #1999b3;
    position: fixed;
    margin-top: auto;
   
}
.social-media {
    text-align: left;
padding-top: 50px;
float: left;
}
.social-media > li {
    display: inline;
    top:30%;
   
}
.social-media i {
    font-size: 280%;
    color: #e8eaee;
   margin-left: 20px;
    padding-left:20px ;
}
.contact {
    text-align: right;
    float: right;
    padding-top: 35px;
    padding-right: 50px;
}
.contact p {
    font-size: 200%;
}
.contact a {
    font-size: 130%;
    text-decoration: none;
    color: #e8eaee;
}

/* details.html page starts here */

#overview {
    color: #ffa733;
  text-align: center;
  font-size: 200%;
  width: 100%;
  height: 150px;
 
  overflow: hidden;
  
}

#programme-1 {
    width: 45%;
    height:600px;
    float: left;
    margin: 0;
    overflow: hidden;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
  
} 

#programme-1 h2{
font-size: 110%;
color: #ffa733;

}

#programme-1 p{
    font-size: 110%;
    }

    #programme-1 li {
        list-style-type: none;
    }

#programme-image-1 {
    background: url(../images/soundtrap-d0sXdsCnhF8-unsplash\ 800.jpg) no-repeat center center;
    width: 50%;
    height:600px;
    float: right;
    
  
}

#programme-2 {
    width: 45%;
    height:600px;
    float: right;
    letter-spacing: 1px;
    overflow: hidden;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
} 

#programme-2 h2{
    font-size: 110%;
    color: #ffa733;
    }
    
    #programme-2 p{
        font-size: 110%;
        }

#programme-image-2 {
    background: url(../images/hans-vivek-By96LAr-34o-unsplash\ 800.jpg) no-repeat center center;
    width: 50%;
    height:600px;
    float: left;
    margin-bottom: 7%;
  
}

/* Here starts the contact page */

#form {
    width:25%;
    height:300px;
    background-color: #1999b3;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 10%;
    font-size: 120%;
    color: #ffa733;
    font-family: poppins, roboto, arial, sans-serif;
}

.form-label {
  display: block;
  text-align: center;
}

.form-input {
   width:50%;
    text-align: center;
    margin-left:25%;
  }
  .radio-class {
  text-align: center;
     
   }


/* media screens */
@media screen and (max-width: 1300px) {
    .instruments div {
        
        width: 100%;
        display: block;
        margin: 0 auto ;
        margin-top: 1%;
    }
#why-us div {
    float: none;
    width: 100%;
    margin: 10% 0 0 0;
    padding: 0;
}
hr {
    width:50%;
   margin-left:25%;
   margin-right:25% ;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 940px) {
#menu {
    font-size: 90%;
    color: #e8eaee;
    letter-spacing: 5px;
    font-family: poppins, roboto, Arial, sans-serif;
}
#cover-text {
    text-align: center;
    vertical-align: middle;
    background-color:rgba(31, 52, 91, 0.8);
    width: 75%;
    height: 15%;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    bottom: 50%;
   left: 12.5%;
   right: 12.5%;
}
footer {
    
    height: 150px;
    
}
.social-media i {
    font-size: 200%;
    color: #e8eaee;
   margin-left: 20px;
    padding-left:1px ;
}
.contact p {
    font-size: 200%;
}
.contact a {
    font-size: 100%;
}
/* here startas the details.html page */

#programme-1 {
    width: 90%;
    height:600px;
    float: none;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
} 

#programme-1 h2{
    font-size: 110%;
    
    
    }
    
    #programme-1 p{
        font-size: 100%;
        }
    
        
    
    #programme-image-1 {
        background: url(../images/soundtrap-d0sXdsCnhF8-unsplash\ 800.jpg) no-repeat center center;
        width: 100%;
        height:600px;
        
        
      
    }
    
    #programme-2 {
        width: 90%;
        height:300px;
        float: none;
        text-align: center;
        letter-spacing: 1px;
        overflow: hidden;
        margin: 5%;
    } 
    
    #programme-2 h2{
        font-size: 110%;
        }
        
        #programme-2 p{
            font-size: 100%;
            }
    
    #programme-image-2 {
        background: url(../images/hans-vivek-By96LAr-34o-unsplash\ 800.jpg) no-repeat center center;
        width: 100%;
        height:600px;
        margin-bottom: 7%;
      
    }
}

@media screen and (max-width: 660px) {
#cover-text, #cover-text h2 {
    font-size: 130%;
    text-shadow: black 1px 2px;
}
    h1 {
        margin-left: 2%;
        margin-right: 2%;
    }
    #menu {
        font-size: 90%;
        display: block;
        color: #e8eaee;
        letter-spacing: 0;
        font-family: poppins, roboto, Arial, sans-serif;
    }

@media screen and (max-width: 500px) {
   #logo {
       float: none;
       list-style-type: none;
       width: 0 auto;
   }

   #menu {
       float: none;
       width: 100%;
       padding-left: 5%;

       
    
   }
    #menu li {
        float: left;
    text-align: center;
   
   
    }
    #logo, #menu {
        text-align: center;  
    }
    }
    footer {
        height: 150px;
        width: 100%;
    }
    .social-media i {
        font-size: 150%;
        color: #e8eaee;
       margin-left: 20px;
        padding-left:1px ;
    }
    .contact p {
        font-size: 120%;
    }
    .contact a {
        font-size: 120%;
    }
    #why-us h2{   
        font-size: 90%;
    }
    #why-us > div li {
        font-size: 75%; 
    }
    .instruments, .instruments h1 {
        font-size: 150%;
    }
    #why-us, #why-us h1 {
        font-size: 150%;
    }
}
@media screen and (max-width: 420px) {
    /* #menu li {
        float: none;
        display:block;
    text-align: center;
    margin:0 3% 0 3%; */
}
    #why-us div {
        float: none;
        width: 100%;
        margin: 10% 20% 0 0;
        padding: 0;
    }
#cover-text, #cover-text h2 {
    font-size: 120%;
    text-shadow: black 1px 2px;
}
   #why-us h2{    
    font-size: 90%;
}
    #why-us > div li {
        font-size: 65%; 
    }
    .instruments, .instruments h1 {
        font-size: 130%;
    }
    #why-us, #why-us h1 {
        font-size: 130%;
    }
    .social-media i {
        font-size: 130%;
        color: #e8eaee;
       margin-left: 5px;
        padding-left:2px ;
    }
    .contact p {
        font-size: 100%;
    }
    .contact a {
        font-size: 100%;
    }

     /*here starts details.html*/
    #overview {
        font-size: 130%;
        height: 50px;
    }
    
    #programme-1 h2{
        font-size: 90%;
        color: #ffa733;
        
        }
        
        #programme-1 p{
            font-size: 85%;
            }
        
            #programme-1 li {
                list-style-type: none;
            }
        
        #programme-2 h2{
            font-size: 90%;
            color: #ffa733;
            }
            
            #programme-2 p{
                font-size: 85%;
                }
}




