* {
    margin: 0;
    padding: 0 ;
    border: 0;
}

body {
    background-color:#1f345b;
   font-family: roboto, Arial, Helvetica, sans-serif;
   font-weight: 100;
   color:#e8eaee;
  

 
}
#logo {
    float: left;
    color: #ffa733;
    font-size: 280%;
    letter-spacing: 2px;
    margin-left: 30px;

}

#menu {
    font-size: 150%;
    color: #e8eaee;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
  list-style-type: none;
  margin-right: 40px ;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: 151%;
    color: #ffa733;
}


    

 
  

h1 h2 h3 {
    font-family:poppins;
    color:#ffa733;
}

